footer {
<<<<<<< HEAD
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
=======
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	height: 60px;
	border-top: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
>>>>>>> 59af1b8b4f0270d9a6bfd41d991ceecb7a748c8f
}
